form {
  border: 1px solid #ddd;
  border-radius: 24px;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form input {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
}
